{% extends 'base.html.twig' %}

{% block body %}
    <h1>Список моделей</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Модель</th>
            <th scope="col">Количества авто</th>
        </tr>
        </thead>
        <tbody>
        {% for model in models %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ model.name }}</td>
                <td>{{ model.count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}