{% extends 'base.html.twig' %}

{% block body %}
    <h1>Регистрация авто</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success mb-4 mt-4">Зарегистрировать</button>
    {{ form_end(form) }}
{% endblock %}